@import "tailwindcss";

@layer base {
    @font-face {
        font-family: PelakFA-Regular;
        src: url(../fonts/PelakFA-Regular.woff2) format(woff2);
    }

    @font-face {
        font-family: PelakFA-Medium;
        src: url(../fonts/PelakFA-Medium.woff2) format(woff2);
    }

    @font-face {
        font-family: PelakFA-SemiBold;
        src: url(../fonts/PelakFA-SemiBold.woff2) format(woff2);
    }

    @font-face {
        font-family: PelakFA-Bold;
        src: url(../fonts/PelakFA-Bold.woff2) format(woff2);
    }
}

@layer components {
    /* Custom CSS Style */

    .container {
        width: 95% !important;
        margin: 0 auto !important;
    }

    .container-fluid {
        width: 100%;
    }

    .nav-active span::after {
        content: "";
        position: absolute;
        right: 0;
        width: 4px;
        height: 100%;
        background: var(--color-Primary);
        border-radius: 2px;
        z-index: 20;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        -ms-border-radius: 2px;
        -o-border-radius: 2px;
    }

    .nav-active span::before {
        content: "";
        position: absolute;
        right: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(90deg, rgba(33, 35, 40, 0.01) 0%, rgb(237 38 93 / 63%) 100%);
        opacity: 35%;
        z-index: -10;
    }

    .nav-active span svg {
        color: var(--color-Primary);
    }

    .custom-gradient {
        background: #4353FF;
        background: linear-gradient(229deg, rgba(67, 83, 255, 1) 0%, rgba(237, 38, 93, 1) 100%);
    }

    .swiper {
        width: 100% !important;
    }

    .heroSwiper .swiper-slide {
        background-position: center !important;
        background-size: cover !important;
        width: 430px !important;
        height: 430px !important;
    }

    .musicSwiper .swiper-slide {
        width: auto !important;
    }

    .overlay::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(180deg,
                rgba(0, 0, 0, 0) 0%,
                rgba(0, 0, 0, 0.82) 42%,
                rgba(0, 0, 0, 0.92) 82%);
        pointer-events: none;
    }

    .ritmo-plus-banner {
        background-image: url(/images/Banner/ritmo-plus.webp);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    .circle-red-gradient {
        background: radial-gradient(circle at center, #ED265D 0%, #101113 100%);
    }

    .homeArtistSwiper .swiper-slide {
        width: auto !important;
    }

    .homeAlbumsSwiper .swiper-slide {
        width: auto !important;
    }

    .blur-bg::after {
        content: "";
        position: absolute;
        top: -50%;
        right: -15%;
        width: 500px;
        height: 500px;
        background: radial-gradient(circle, rgba(237, 38, 93, 1) 0%, rgba(0, 0, 0, 0.01) 100%);
        border-radius: 100%;
        filter: blur(50px);
        z-index: -10;
        opacity: 20%;
        -webkit-filter: blur(50px);
    }

    .blur-bg::before {
        content: "";
        position: absolute;
        bottom: -50%;
        left: -15%;
        width: 500px;
        height: 500px;
        background: radial-gradient(circle, #4353FF 0%, #4353FF 100%);
        border-radius: 100%;
        filter: blur(50px);
        z-index: -10;
        opacity: 20%;
        -webkit-filter: blur(50px);
    }

    #svg-bg::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: 100%;
        border-radius: 100%;
        filter: blur(30px);
        opacity: 90%;
        z-index: -10;
        background: linear-gradient(180deg, rgba(237, 38, 93, 1) 0%, rgba(67, 83, 255, 1) 100%);
        -webkit-border-radius: 100%;
        -moz-border-radius: 100%;
        -ms-border-radius: 100%;
        -o-border-radius: 100%;
        -webkit-filter: blur(30px);
    }

    #category-page img {
        height: 500px !important;
    }

    .artistSwiper .swiper-slide {
        width: auto !important;
    }

    .playlist::after {
        content: "";
        position: absolute;
        bottom: -120%;
        left: -100%;
        width: 2500px;
        height: 2500px;
        background: radial-gradient(circle, #4353FF 0%, #4353FF 100%);
        border-radius: 100%;
        filter: blur(50px);
        opacity: 20%;
    }

    .playlist::before {
        content: "";
        position: absolute;
        top: -120%;
        right: -100%;
        width: 2500px;
        height: 2500px;
        background: radial-gradient(circle, rgba(237, 38, 93, 1) 0%, rgba(0, 0, 0, 0.01) 100%);
        border-radius: 100%;
        filter: blur(50px);
        opacity: 20%;
        -webkit-filter: blur(50px);
        -webkit-border-radius: 100%;
        -moz-border-radius: 100%;
        -ms-border-radius: 100%;
        -o-border-radius: 100%;
    }
}

@theme {
    --color-Primary: #ED265D;
    --color-Secondary: #4353FF;
    --color-Primary-100: #FBD5E0;
    --color-Primary-200: #F8AAC0;
    --color-Primary-300: #F47B9D;
    --color-Primary-400: #F1517E;
    --color-Primary-600: #CB1145;
    --color-Primary-700: #970C34;
    --color-Primary-800: #680924;
    --color-Primary-900: #340412;
    --color-Secondary-100: #D9DCFF;
    --color-Secondary-200: #B3BAFF;
    --color-Secondary-300: #8E97FF;
    --color-Secondary-400: #6875FF;
    --color-Secondry-600: #0015FF;
    --color-Secondry-700: #0010C2;
    --color-Secondry-800: #000B80;
    --color-Secondry-900: #000642;
    --color-Natural-100: #E6E8ED;
    --color-Natural-200: #C7CBD8;
    --color-Natural-300: #9DA3B4;
    --color-Natural-400: #6F7389;
    --color-Natural-500: #55596D;
    --color-Natural-600: #4D5465;
    --color-Natural-700: #393E4B;
    --color-Natural-800: #282B34;
    --color-Natural-900: #14161A;
    --color-Success-100: #A3D6A6;
    --color-Success-200: #009C07;
    --color-Success-300: #245126;
    --color-Error-100: #F69A98;
    --color-Error-200: #FF3632;
    --color-Error-300: #B21310;
    --color-Warning-100: #FFCC80;
    --color-Warning-200: #FFA726;
    --color-Warning-300: #B36B00;
    --color-Info-100: #80AEFF;
    --color-Info-200: #2979FF;
    --color-Info-300: #0041B3;
    --color-White: #fff;
    --color-Black: #000;
    --color-Menu: #101113;
    --color-Background: #0D0D0E;
    --font-Pelak-Regular: PelakFA-Regular;
    --font-Pelak-Medium: PelakFA-Medium;
    --font-Pelak-SemiBold: PelakFA-SemiBold;
    --font-Pelak-Bold: PelakFA-Bold;
    --breakpoint-xs: 480px;
}